In [16]:
import pandas as pd

In [23]:
df = pd.read_csv("dados4.csv")
X = df.drop(['V15'], axis=1)
y = df.filter(['V15'], axis=1)
df.head()

   V1     V2     V3  V4  V5  V6     V7  V8  V9  V10  V11 V12  V13   V14  V15
0   1  22.08  11.46   2   k  bb  1.585   0   0    0    1   g  100  1213    0
1   0  22.67   7.00   2   c  bb  0.165   0   0    0    0   g  160     1    0
2   0  29.58   1.75   1   k  bb  1.250   0   0    0    1   g  280     1    0
3   0  21.67  11.50   1   j   j  0.000   1   1   11    1   g    0     1    1
4   1  20.17   8.17   2  aa  bb  1.960   1   1   14    0   g   60   159    1